<!-- Additional Elements -->
<section class="wrapper style1 align-center">
  <div class="inner" id="first">
    <div class="index align-left">
  <!-- Box -->
      <section>
        <div class="content">
          <div class="box">
            <p>Clubs are being added over time - starting with the east coast and moving west. If your state has been added and you don't see your club, there likely wasn't an official website (or Facebook account) or identifiable burgee. If you would like to add or remove your club, correct information, or send a higher resolution burgee image, email <a href="mailto:ycburgees@gmail.com">ycburgees@gmail.com</a>.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
