<!-- Additional Elements -->
<section class="wrapper style1 align-center">
  <div class="inner" id="first">
    <div class="index align-left">
  <!-- Box -->
      <section>
        <div class="content">
          <div class="box">
            <p>Clubs are being added over time. I'm starting on the east coast and moving west. If your state has been added and you don't see your club, I likely couldn't find an official website (or Facebook account) or burgee image. If you would like to add or remove your club, find incorrect information, or send a higher resolution burgee image, email <a href="mailto:ycburgees@gmail.com">ycburgees@gmail.com</a>.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
